body {
        background-color: lightblue;
    }
h1, h2, h3, p {
        color: darkblue;
    }
h3 {
        text-align: center;
    }

.photo {
        border: 2px dashed red;
        height: 300px;
        width: 600px;
    }